{% extends "base.html" %}

{% block nav_extra %}
<button id="board-settings-button" class="nav-utility">
  ⚙ Settings
</button>
{% endblock %}

{% block content %}

<div
  id="board-root"
  data-board-id="{{ board.id }}"
  data-boards='{{ boards | tojson }}'
  data-board-name='{{ board.name | tojson }}'
  data-board-color='{{ (board.color or "") | tojson }}'
  data-board-role='{{ board_role | tojson }}'
>

  <div id="board-readonly-banner" class="hidden mx-auto max-w-5xl px-6 pt-4"></div>

  <div id="board-view-toggle" class="fixed top-16 right-4 z-30 flex flex-col items-end gap-2"></div>

  <div id="board-calendar-toolbar" class="fixed top-16 left-1/2 -translate-x-1/2 z-20 hidden"></div>

  <div id="board-stages-view" class="p-4 overflow-auto h-[calc(100vh-4rem)]"></div>

  <div id="board-calendar-view" class="hidden p-4 pt-24"></div>

  <div id="board-calendar-create-modal"></div>

  <!-- ===== Settings Modal ===== -->
  <div id="board-settings-modal"></div>

  <!-- ===== Task Modal ===== -->
  <div id="board-task-modal"></div>

  <!-- ===== Log Config Modal ===== -->
  <div id="board-log-config-modal"></div>

</div>


<script src="/static/board/api.js"></script>
<script src="/static/board/render.js"></script>
<script src="/static/board/drag.js"></script>
<script src="/static/board/board.js"></script>

{% endblock %}
